/* Customize Hover behavior on Documentation... On hover: gradual increase size; also make all thumbnails the same size */

.article-body img {
    width: 300px;
    height: auto;
    transition: width 1s;
    padding: 20px 0px;
}
.article-body img:hover {
    width: 110%;
    transition: width 1s;
    transition-delay: .25s;
    cursor: zoom-in;
}
.article-body h2 {
    color: #1761C5;
    padding-bottom: 14px;
}

html {
	scroll-behavior: smooth;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
